<div class="min-h-[80vh] bg-base-200 py-12 px-6">
  <div class="mx-auto text-center mt-12 mb-12">
    <h1 class="text-4xl font-bold mb-16">Frequently asked questions</h1>
    <div class="join join-vertical bg-base-100 w-full sm:w-[60%]">

      <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-left">How do I create an account?</div>
        <div class="collapse-content text-sm text-left">
          Click the "Sign Up" button in the top right corner and follow the registration process.
        </div>
      </div>

      <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-left">I forgot my password. What should I do?</div>
        <div class="collapse-content text-sm text-left">
          Click the "Sign Up" button in the top right corner and follow the registration process.
        </div>
      </div>

      <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-left">How do I update my profile information?</div>
        <div class="collapse-content text-sm text-left">
          Click the "Sign Up" button in the top right corner and follow the registration process.
        </div>
      </div>

    </div>
  </div>
</div>
