<div class="min-h-[60vh] bg-base-200 py-12 px-6">
  <div class="max-w-7xl mx-auto text-center mt-12 mb-12">
        <h1 class="text-4xl font-bold mb-16">Loved by people worldwide</h1>
        <div class="cards flex flex-col sm:flex-row justify-around align-middle gap-6">
            
            <div class="card w-full sm:w-96 bg-base-100 card-md shadow-sm">
                <div class="card-body">
                    <div class="flex items-end gap-4">
                        <div class="avatar">
                            <div class="w-16 rounded-full">
                                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                            </div>
                        </div>
                        <div class="rating gap-1">
                            <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" aria-label="1 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-orange-400" aria-label="2 star" checked="checked" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-yellow-400" aria-label="3 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-lime-400" aria-label="4 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-green-400" aria-label="5 star" />
                        </div>
                    </div>
                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                </div>
            </div>

            <div class="card w-full sm:w-96 bg-base-100 card-md shadow-sm">
                <div class="card-body">
                    <div class="flex items-end gap-4">
                        <div class="avatar">
                            <div class="w-16 rounded-full">
                                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                            </div>
                        </div>
                        <div class="rating gap-1">
                            <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" aria-label="1 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-orange-400" aria-label="2 star" checked="checked" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-yellow-400" aria-label="3 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-lime-400" aria-label="4 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-green-400" aria-label="5 star" />
                        </div>
                    </div>
                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                </div>
            </div>

            <div class="card w-full sm:w-96 bg-base-100 card-md shadow-sm">
                <div class="card-body">
                    <div class="flex items-end gap-4">
                        <div class="avatar">
                            <div class="w-16 rounded-full">
                                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                            </div>
                        </div>
                        <div class="rating gap-1">
                            <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" aria-label="1 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-orange-400" aria-label="2 star" checked="checked" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-yellow-400" aria-label="3 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-lime-400" aria-label="4 star" />
                            <input type="radio" name="rating-3" class="mask mask-heart bg-green-400" aria-label="5 star" />
                        </div>
                    </div>
                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                </div>
            </div>
        </div>
    </div>
</div>